body {
    font-family: Raleway, sans-serif;
    text-align: center;
}

header {
    background-color: #9a8c98;
    padding: 8px;
    text-align: left;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#login-btn {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-btn:hover {
    background-color: #3e8e41;
}